{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}
<style media="screen">
  [type=checkbox] {cursor: pointer;}
  #artworks-results td {vertical-align:middle}
</style>

<div id="app" class="row">
  <form class="col-md-4" v-on:submit.prevent="searchArtwork">
    {% csrf_token %}
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Locale</td>
          <td><input type="text" v-model="locale"></td>
        </tr>
        <tr>
          <td>Global Search</td>
          <td><input type="text" v-model="paramsArtwork['q']"></td>
        </tr>
        <tr>
          <td>Page</td>
          <td><input type="number" v-model="paramsArtwork['p']"></td>
        </tr>
        <tr>
          <td>Results per page</td>
          <td><input type="number" v-model="paramsArtwork['ps']"></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-success">
        Search artworks
      </button>
    </div>
  </form>
  <div class="col-md-8">
    <table id="artworks-results" class="table table-sm">
      <thead>
        <tr>
          <th style="width:85px;">Add to db</th>
          <th>Image</th>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(a, index) in artworks">
          <td class="text-center">
            <label v-bind:for="'artwork_'+a.id" class="btn btn-outline-primary">
              <input type="checkbox" v-on:click="switchSelectedArtwork(a)"
                v-bind:id="'artwork_'+a.id" v-bind:checked="a._id in artworksSelected"/>
            </label>
          </td>
          <td class="text-center">
            <img class="artwork" v-bind:src="getImage(a)"
              style="max-height:50px;max-width:100px"/>
          </td>
          <td>{[{ getTitle(a, 'en') }]}</td>
          <td>{[{ getAuthor(a, 'en') }]}</td>
          <td>{[{ getDate(a) }]}</td>
          <td>{[{ (paramsArtwork['p'] * paramsArtwork['ps']) + index + 1 }]}</td>
        </tr>
      </tbody>
      <tfoot v-show="loading">
        <tr>
          <td colspan="99" class="text-center p-4 text-primary">
            <i class="far fa-compass fa-spin fa-3x"></i>
          </td>
        </tr>
      </tfoot>
    </table>
    <div v-show="artworks.length>0 && Object.keys(artworksSelected).length>0"
      class="card m-auto mb-3" style="max-width: 25rem;">
      <div class="card-header">Add {[{ Object.keys(artworksSelected).length }]} artworks to the database</div>
      <div class="card-body">
        <ul>
          <li v-for="a in artworksSelected">{[{a._source.title.fr}]}</li>
        </ul>
        <div class="text-center">
          <button v-on:click="addToDb" class="btn btn-success">
            Add to database
          </button>
        </div>
      </div>
    </div>
  </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-select@2.5.1/dist/vue-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script type="text/javascript">
  const RIJKS_API_KEY = '{{RIJKS_API_KEY}}';
  const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
  const axiosLocal = axios.create({headers: {'X-CSRFToken': csrfToken}});
  const axiosRijks = axios.create({headers: {'ApiKey': RIJKS_API_KEY}});
  const urlParams = new URLSearchParams(window.location.search);
</script>
<script src="{% static 'admin/rijks.js' %}" charset="utf-8"></script>
{% endblock %}
