{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.6-rc.1/dist/css/select2.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<style media="screen">
  [type=checkbox] {cursor: pointer;}
  #artworks-results td {vertical-align:middle}
</style>

<div id="app" class="row">
  <form class="col-md-4" v-on:submit.prevent="searchArtwork">
    {% csrf_token %}
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Global search</td>
          <td><input v-model="paramsArtwork.q"></td>
        </tr>
        <tr>
          <td>Author</td>
          <td><select style="width:100%" id="selectAuthor"></select></td>
        </tr>
        <tr>
          <td>Period</td>
          <td>
            <select v-model="paramsArtwork['facets[periods]']">
              <option v-for="p in periods" v-bind:value="p.value">{[{p.text}]}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            <select v-model="paramsArtwork['facets[collections]']">
              <option v-for="c in collections" v-bind:value="c.value">{[{c.text}]}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Technique</td>
          <td>
            <select v-model="paramsArtwork['facets[techniques]']">
              <option v-for="t in techniques" v-bind:value="t.value">{[{t.text}]}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Language</td>
          <td><input v-model="paramsArtwork.lang"></td>
        </tr>
        <tr>
          <td># of results</td>
          <td><input v-model="paramsArtwork.per_page" type="number"></td>
        </tr>
        <tr>
          <td>Page</td>
          <td><input v-model="paramsArtwork.page" type="number"></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-success">
        Search artworks
      </button>
    </div>
  </form>
  <div class="col-md-8">
    <table id="artworks-results" class="table table-sm">
      <thead>
        <tr>
          <th style="width:85px;">Add to db</th>
          <th>Image</th>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="a in artworks">
          <td class="text-center">
            <label v-bind:for="'artwork_'+a._source.id" class="btn btn-outline-primary">
              <input type="checkbox" v-on:click="switchSelectedArtwork(a)"
                v-bind:id="'artwork_'+a._source.id"/>
            </label>
          </td>
          <td class="text-center">
            <img class="artwork" v-bind:src="getImage(a)"
              style="max-height:50px;max-width:100px"/>
          </td>
          <td>{[{ getTitle(a, 'fr') }]}</td>
          <td>{[{ getAuthor(a, 'fr') }]}</td>
          <td>{[{ getDate(a) }]}</td>
          <td>{[{ parseInt(a._score) }]}</td>
        </tr>
      </tbody>
      <tfoot v-show="loading">
        <tr>
          <td colspan="99" class="text-center p-4 text-primary">
            <i class="far fa-compass fa-spin fa-3x"></i>
          </td>
        </tr>
      </tfoot>
    </table>
    <div v-show="artworks.length>0 && Object.keys(artworksSelected).length>0"
      class="card m-auto mb-3" style="max-width: 25rem;">
      <div class="card-header">Add {[{ Object.keys(artworksSelected).length }]} artworks to the database</div>
      <div class="card-body">
        <ul>
          <li v-for="a in artworksSelected">{[{a._source.title.fr}]}</li>
        </ul>
        <div class="text-center">
          <button v-on:click="addToDb" class="btn btn-success">
            Add to database
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@zeitiger/elevatezoom@2.5.4/jquery.elevatezoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.6-rc.1/dist/js/select2.min.js"></script>

<script type="text/javascript">
  var RMNGP_API_KEY = '{{RMNGP_API_KEY}}';
  if(!RMNGP_API_KEY || RMNGP_API_KEY.length < 1){
    alert('A Rmn-GP API key is required to use this functionnality.');
  }
</script>
<script src="{% static 'admin/index.js' %}" charset="utf-8"></script>
{% endblock %}
