{% extends "admin/base.html" %}

{% load static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
<style media="screen">
  html>body div#header {height: initial;}
  html>body .submit-row a.deletelink {height: initial;}
  html>body table>caption {caption-side: top}
</style>
{% endblock %}

{% block messages %}
{% if has_permission %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> -
    <a href="{% url 'admin:museum_artwork_changelist' %}">Museum & artworks</a> -
    <a href="{% url 'admin:museum_artwork_changelist' %}rmngp">Add artwork from RMNGP</a> -
    <a href="{% url 'reset' %}">Reset times played to 0<a/>
  </div>
{% endif %}
{{block.super}}
{% endblock %}
