body {
  background: black;
}
#img {
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
#author_country_alpha2 { height: 2vh; }
h1 { font-size: 1rem; }
h2 { font-size: .8rem; }
#timeoutInterval {width:55px}
.full-width{ width:100% }
