<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Musée salon</title>
    <link rel="stylesheet" href="static/bootstrap3/css/bootstrap.min.css">
  </head>
  <body>
    <div class=" text-center">
      <div class="row" style="background:black">
        <img src="" alt="" id="img"
        style="height:80vh;">
      </div>
      <div class="">
        <h1 id="name"></h1>
        <h2 id="author"></h2>
      </div>
      <div class="row">
        <button onclick="previous()" class="btn btn-default btn-sm"><<</button>
        <button onclick="pause()" id="pause" class="btn btn-default btn-sm">pause</button>
        <button onclick="play()" id="play" class="btn btn-default btn-sm">play</button>
        <button onclick="next()" class="btn btn-default btn-sm">>></button>
      </div>
      <div class="row">
        Change every
        <input type="number" value="10" style="width:35px" id="timeoutInterval">
        second
      </div>
      <div class="">
        Fetching among a total of {{numberOfArtworks}} artworks.
      </div>
    </div>
    <script src="static/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="static/index.js" charset="utf-8"></script>
  </body>
</html>
