<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Musée salon</title>
    <link rel="stylesheet" href="static/bootstrap3/css/bootstrap.min.css">
  </head>
  <body>
    <div class=" text-center">
      <div class="row" style="background:black">
        <img src="" alt="" id="img"
        style="height:80vh;">
      </div>
      <div class="">
        <h1 id="name"></h1>
        <h2 id="author"></h2>
      </div>
      <div class="row">
        <button onclick="previous()"><<</button>
        <button>pause</button>
        <button>play</button>
        <button onclick="next()">>></button>
      </div>
      <div class="row">
        Change every
        <input type="number" value="1" style="width:35px">
        second
      </div>
      <div class="">
        Fetching among a total of {{numberOfArtworks}} artworks.
      </div>
    </div>
    <script src="static/jquery/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      var $img = null;
      var $name = null;
      var $author = null;
      var previousId = null;
      var nextId = null;
      var timeoutId = null;
      function previous(){
        setArtworkForId(0); // todo, but how??
      }
      function next(){
        console.log('next() called');
        $.get('/next', null, function(artwork){
          console.log(artwork);
          setArtwork(artwork);
        });
        clearTimeout(timeoutId);
        timeoutId = setTimeout(function(){
          console.log('setTimeout() called');
          next();
        }, 10*1000);
      }
      function setArtwork(a) {
        $img.attr('src', a.url);
        $name.html(a.name);
        $author.html(a.author);
      }
      $(function(){
        $img = $('#img');
        $name = $('#name');
        $author = $('#author');
        next();
      });
    </script>
  </body>
</html>
