{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Musée salon</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
    <style media="screen">
    #img {
      height:80vh;
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    </style>
  </head>
  <body class="container-fluid">
    <main class="row text-center text-light" style="background:black">
      <div class="col">
        <div id="img"></div>
        <div class="">
          <h1><span id="name"></span>&nbsp;</h1>
          <h2><span id="author"></span>&nbsp;</h2>
        </div>
        <div class="">
          <button onclick="previous()" class="btn btn-light btn-sm"><<</button>
          <button onclick="pause()" id="pause" class="btn btn-light btn-sm">pause</button>
          <button onclick="play()" id="play" class="btn btn-light btn-sm">play</button>
          <button onclick="next()" class="btn btn-light btn-sm">>></button>
        </div>
        <div class="my-2">
          Change every
          <input type="number" class="p-0 px-1 d-inline-block form-control form-control-sm" value="10" style="width:55px" id="timeoutInterval">
          second
        </div>
        <div class="mb-4">
          Fetching among a total of {{numberOfArtworks}} artworks.
        </div>
      </div>
    </main>
    <footer class="row bg-dark text-center text-light p-4">
      <div class="col">
        <div class="">
          <img src="{% static 'iot-museumx64.png' %}"/>
          Iot Museum developed by <a href="https://floriancourgey.com?ref=iot-museum" target="_blank">floriancourgey.com</a>
        </div>
        <div class="">
          Visit <a href="{% url 'admin:index' %}">admin</a>
        </div>
        <div class="m-1">
          <a href="{% url 'reset' %}">Reset<a/> times played to 0
        </div>
      </div>
    </footer>

    <script src="{% static 'jquery-3.2.1/jquery.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript">
      var urlNext = '{% url 'next' %}';
    </script>
    <script src="{% static 'index.js' %}" charset="utf-8"></script>
  </body>
</html>
