{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Musée salon</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'w3css-4/w3pro.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
  </head>
  <body class="container-fluid">
    <div id="debug"
      style="background:white;color:black;font-size:16">
    </div>
    <main class="row text-center text-light" id="app">
      <div class="col">
        <div class="row">
          <div class="col-lg-2">

          </div>
          <div class="col-lg-8 img-height">
            <div class="img-height" id="img" v-if="artwork && getArtworkUrl()" :style="{'background-image':'url('+getArtworkUrl()+')'}"></div>
          </div>
          <div class="col-lg-2 w3-display-container">
            <div class="w3-display-middle full-width">
              {% verbatim %}
              <h1>{{artwork.name}}&nbsp;</h1>
              <h2 class="text-capitalize">{{artwork.author}}&nbsp;</h2>
              <p v-if="artwork.author_country_alpha2">
                <img :src="'https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/'+artwork.author_country_alpha2.toLowerCase()+'.svg'" id="author_country_alpha2"/>
              </p>
              <p class="text-capitalize text-secondary">
                <small>{{artwork.date_display}}</small>
              </p>
              {% endverbatim %}
            </div>
          </div>
        </div>
        <div class="row m-4">
          <div class="col">
            <div>
              <button @click="previous" class="btn btn-light btn-sm"><<</button>
              <button @click="pause" v-show="!isPaused" class="btn btn-light btn-sm">pause</button>
              <button @click="play" v-show="isPaused" class="btn btn-light btn-sm">play</button>
              <button @click="next" class="btn btn-light btn-sm">>></button>
            </div>
            <div class="my-2">
              <a :href="urlAdminArtwork.replace(999, artwork.id)" target="_blank">Edit in admin</a>
            </div>
            <div class="my-2">
              Change every
              <input type="number" class="p-0 px-1 d-inline-block form-control form-control-sm"
                v-model.number="timeoutInterval" min="1" id="timeoutInterval">
              seconds
            </div>
            <div>
              Fetching among a total of {{numberOfArtworks}} artworks.
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="row bg-dark text-center text-light p-4">
      <div class="col">
        <div class="mb-2">
          <img src="{% static 'iot-museumx64.png' %}"/>
          Iot Museum developed by <a href="https://floriancourgey.com?ref=iot-museum" target="_blank">floriancourgey.com</a>
        </div>
        <div class="">
          Visit <a href="{% url 'admin:index' %}">admin</a> to add and edit artworks.
        </div>
      </div>
    </footer>
    <script>function debug(text){
      document.getElementById('debug').innerHTML += text+'<br/>';
    }</script>
    <script>debug('Downloading jquery');</script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script>debug('Downloading jquery OK');</script>
    <script>
      try{
        debug('IIFE...');
        (function($) {
          debug('IIFE OK');
          $(document).ready(function() {
            debug('jquery OK');
          });
          debug('jquery...');
        })(jQuery);
      } catch(err) {
        debug('err');
        alert(err);
      }
    </script>
  </body>
</html>
