{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Musée salon</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'index.oldBrowser.css' %}">
  </head>
  <body class="container-fluid">
    <main class="w3-center w3-text-light-gray" id="app">
      <div class="">
        <div class="">
          <div class="img-height">
            <img id="img" src="{% static 'iot-museumx64.png' %}"/>
          </div>
          <div class="">
            <div class="">
              {% verbatim %}
              <h1 style="font-size:15pt;" id="artwork_name" class="w3-text-white">&nbsp;</h1>
              <h2 style="font-size:15px;" id="artwork_author" class="w3-text-white text-capitalize">&nbsp;</h2>
              <p v-if="artwork.author_country_alpha2">
                <img :src="'https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/'+artwork.author_country_alpha2.toLowerCase()+'.svg'" id="author_country_alpha2"/>
              </p>
              <p class="text-capitalize w3-text-gray">
                <small id="artwork_date_display"></small>
              </p>
              {% endverbatim %}
            </div>
          </div>
        </div>
        <div class="row m-4 w3-text-light-gray">
          <div class="col">
            <div>
              <button @click="previous" class="btn btn-light btn-sm"><<</button>
              <button @click="pause" v-show="!isPaused" class="btn btn-light btn-sm">pause</button>
              <button @click="play" v-show="isPaused" class="btn btn-light btn-sm">play</button>
              <button @click="next" class="btn btn-light btn-sm">>></button>
            </div>
            <div class="my-2">
              <a id="artwork_admin_link" href="#" target="_blank">Edit in admin</a>
            </div>
            <div class="my-2">
              Change every
              <input type="number" class="p-0 px-1 d-inline-block form-control form-control-sm"
                v-model.number="timeoutInterval" min="1" id="timeoutInterval">
              seconds
            </div>
            <div>
              Fetching among a total of {{numberOfArtworks}} artworks.
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="w3-center w3-dark-grey w3-text-light-gray">
      <div class="col">
        <div class="mb-2">
          <img src="{% static 'iot-museumx64.png' %}"/>
          Iot Museum developed by <a href="https://floriancourgey.com?ref=iot-museum" target="_blank">floriancourgey.com</a>
        </div>
        <div class="">
          Visit <a href="{% url 'admin:index' %}">admin</a> to add and edit artworks.
        </div>
      </div>
    </footer>
    <div id="debug"
      style="background:white;color:black;font-size:16">
    </div>
    <script>function debug(text){
      console.log(text);
      document.getElementById('debug').innerHTML += text+'<br/>';
    }</script>
    <script>debug('Downloading jquery');</script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.11.3/dist/jquery.min.js"></script>
    <script>debug('Downloading jquery OK');</script>
    <script src="{% static 'index.oldBrowser.js' %}" charset="utf-8"></script>
    <script>
      try{
        var urlNext = '{% url 'next' %}';
        var urlAdminArtwork = '{% url 'admin:museum_artwork_change' 999 %}';
        var MEDIA_URL = '{{ MEDIA_URL }}';
        jQuery(function(){
          debug('JQUERY OK urlNext: '+urlNext);
          app.init();
        });
      } catch(err) {
        debug('err');
        debug(err);
        alert(err);
      }
    </script>
  </body>
</html>
