{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Musée salon</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'w3css-4/w3pro.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
    <style media="screen">
    body {
      background: black;
    }
    .img-height{ height:100vh; }
    #img {
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    h1 { font-size: 1rem; }
    h2 { font-size: .8rem; }
    </style>
  </head>
  <body class="container-fluid">
    <main class="row text-center text-light" id="app">
      <div class="col">
        <div class="row">
          <div class="col-lg-2">

          </div>
          <div class="col-lg-8 img-height">
            <div class="img-height" id="img" v-if="artwork && artwork.url_online" :style="{'background-image':'url('+getArtworkUrl()+')'}"></div>
          </div>
          <div class="col-lg-2 w3-display-container">
            <div class="w3-display-middle" style="width:100%">
              {% verbatim %}
              <h1>{{artwork.name}}&nbsp;</h1>
              <h2>{{artwork.author}}</span>&nbsp;</h2>
              {% endverbatim %}
            </div>
          </div>
        </div>
        <div class="row m-4">
          <div class="col">
            <div>
              <button @click="previous" class="btn btn-light btn-sm"><<</button>
              <button @click="pause" v-show="!isPaused" class="btn btn-light btn-sm">pause</button>
              <button @click="play" v-show="isPaused" class="btn btn-light btn-sm">play</button>
              <button @click="next" class="btn btn-light btn-sm">>></button>
            </div>
            <div class="my-2">
              <a :href="urlAdminArtwork.replace(999, artwork.id)" target="_blank">Edit in admin</a>
            </div>
            <div class="my-2">
              Change every
              <input type="number" class="p-0 px-1 d-inline-block form-control form-control-sm" style="width:55px" v-model.number="timeoutInterval">
              seconds
            </div>
            <div>
              Fetching among a total of {{numberOfArtworks}} artworks.
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="row bg-dark text-center text-light p-4">
      <div class="col">
        <div class="mb-2">
          <img src="{% static 'iot-museumx64.png' %}"/>
          Iot Museum developed by <a href="https://floriancourgey.com?ref=iot-museum" target="_blank">floriancourgey.com</a>
        </div>
        <div class="">
          Visit <a href="{% url 'admin:index' %}">admin</a> to add and edit artworks.
        </div>
        <div class="m-1">
          <a href="{% url 'reset' %}">Reset<a/> times played to 0
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script> <!-- ES6 polyfill for Promises used by axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>
    <script type="text/javascript">
      var urlNext = '{% url 'next' %}';
      var urlAdminArtwork = '{% url 'admin:museum_artwork_change' 999 %}';
    </script>
    <script src="{% static 'index.js' %}" charset="utf-8"></script>
  </body>
</html>
